/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
.wp-block-ktf2021-ktf2021-social {
  .fab {
    transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
  }

  .ktf2021-fa-size {
    font-size: 3em;
  }

  /// PC
  @media (min-width: $size__lg) {
    .ktf2021-fa-size {
      font-size: 5em;
    }
  }

  .fa-facebook-square {
    color: #3b5998;

    &:hover {
      color: #3b58987f;
    }
  }

  .fa-instagram {
    color: #8a3ab9;

    &:hover {
      color: #8a3ab97f;
    }
  }

  .fa-youtube {
    color: #ff0000;

    &:hover {
      color: #ff00007f;
    }
  }

  .fa-flickr {
    color: #ff0084;

    &:hover {
      color: #ff00847f;
    }
  }
}
