/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.ktf2021-blocks-align-left {
  text-align: left;
}

.ktf2021-blocks-align-center {
  text-align: center;
}

.ktf2021-blocks-align-right {
  text-align: right;
}
