$glide-class: 'glide' !default;
$glide-element-separator: '__' !default;
$glide-modifier-separator: '--' !default;

$size__sm: 576px;
$size__md: 768px;
$size__lg: 992px;
$size__xl: 1200px;
$size__xxl: 1400px;
$size__xxxl: 1600px;