/**
 * Editor styles for the admin
 */

/// Mobile
.ktf2021-container-white,
.ktf2021-container-black,
.ktf2021-container-blue,
.ktf2021-container-green,
.ktf2021-container-carousel {
    padding: 1vh 1vw;
}

.ktf2021-container-white {
    background-color: $color__white;
    color: $color__black;

    a {
        color: $color__gray_light;
    }

    a:hover {
        color: $color__gray;
    }
}

.ktf2021-container-black {
    background-color: $color__black;
    color: $color__white;

    h2 {
        color: $color__white;
    }

    a {
        color: $color__gray_light;
    }

    a:hover {
        color: $color__gray;
    }
}

.ktf2021-container-blue {
    background-color: $color__blue;
    color: $color__white;
    
    h2 {
        color: $color__white;
    }

    a {
        color: $color__gray_dark;
    }

    a:hover {
        color: $color__black;
    }
}

.ktf2021-container-green {
    background-color: $color__green;
    color: $color__white;
    
    h2 {
        color: $color__white;
    }

    a {
        color: $color__black;
    }

    a:hover {
        color: $color__gray;
    }
}