
.ktf2021-post {
	width: 260px;
	padding: 10px;
	margin: 10px;
	background-color: $color__white;
	color: $color__black;

	.ktf2021-post-image img {
		height: 150px;
		width: 100%;
		object-fit: cover;
		margin-bottom: 15px;
	}

	.ktf2021-post-title {
		margin-bottom: 0;

		a {
			color: $color__black;
			text-decoration: none;
		}

		a:hover {
			color: $color__darkgray;
		}
	}

	.ktf2021-post-byline {
		font-size: 0.8rem;
		color: $color__darkgray;
		margin-bottom: 0.5rem;
	}

	.ktf2021-post-link {
		color: $color__blue_light;
		font-weight: bold;
	}

	.ktf2021-post-link:hover {
		color: $color__blue;
		text-decoration: none;
	}
}
