/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.

$color__white: white;
$color__black: black;
$color__green: #a3d01e;
$color__blue_light: #00cfff;
$color__blue: rgb(0,207,255);
$color__darkgray: #5D5D5D;
